.section {
}
.news-search {
}
.container {
}
.news-search__title {
  font-weight: 500;
  font-size: var(--title-h2-text-mob);
  line-height: 130%;
  letter-spacing: -0.03em;
  padding: 40px 0;
}
.title {
}
.news-search__content {
  display: flex;
  flex-direction: column;
  gap: 30px;
  overflow: hidden;
}
.news-search__form {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.search-form {
  overflow: hidden;
}
.search-form__search {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.search-form__input {
  padding: 16px 30px;
  color: var(--description-text-color);
  font-size: var(--text-big);
  background-color: var(--card-bg-color);
  border-radius: var(--btn-border-radius);
}
.search-form__country {
  display: flex;
  gap: 4px;
  align-items: center;
}
.search-form__country-title {
  display: flex;
  align-items: center;
  gap: 8px;
  /* margin-bottom: 12px; */
  font-size: var(--text-big);
}
.search-form__svg-country {
  stroke: none;
  fill: var(--main-accent-color);
}
.search-form__country-title span {
  display: none;
}
.search-form__country-select {
  font-size: var(--text-small);
}
.search-form__country-select {
  appearance: none;

  background: #1a1a1a;
  color: white;

  border: 1px solid #333;
  border-radius: 10px;

  padding: 10px 36px 10px 14px;

  font-size: 16px;
  font-weight: 500;
  border: 1px solid #333333;
  border-radius: 10px;
  padding: 8px 16px;
  background-color: var(--main-bg-color);

  transition: border 0.2s;
}
.search-form__country-select:hover,
.search-form__country-select:focus {
  border-color: var(--main-accent-color);
  outline: var(--main-accent-color);
}

.search-form__country-select:focus {
  outline: none;
  border-color: #4f7cff;
}
.search-form__categories {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  overflow: hidden;
  width: 100%;
  padding: 20px;
  /* overflow-x: auto; */
  /* max-width: 100%; */
  /* min-width: 0; */
}

.search-form__category-label {
  width: 100%;
  width: 150px;
  /* flex-shrink: 0; */
}
.search-form__category-label + .search-form__category:checked {
  border: 0.4px solid var(--main-accent-color);
  background-color: var(--card-bg-color);
}
.search-form__category {
}
.search-form__category {
  position: absolute;
  opacity: 0;
  width: 150px;
  pointer-events: none;
}
.search-form__category-text {
  border: 0.4px solid var(--card-border-color);
  border-radius: var(--btn-border-radius);
  background-color: var(--main-bg-color);
  padding: 16px 12px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  gap: 6px;
  color: var(--description-text-color);
  font-size: var(--text-general);
  transition: all 250ms;
}
.search-form__category-text:hover {
  border: 0.4px solid var(--main-accent-color);
}
.search-form__svg {
  stroke: none;
  fill: var(--description-text-color);
  width: 20px;
  height: 20px;
}
.search-form__category:checked + .search-form__category-text {
  color: var(--main-text-color);
  border: 0.4px solid var(--main-accent-color);
  background-color: var(--card-bg-color);
}
.search-form__category:checked + .search-form__category-text .search-form__svg {
  fill: var(--main-text-color);
}
.search-form__btns {
  display: flex;
  align-items: center;
  gap: 20px;
}
.search-form__btn {
  border: 0.4px solid var(--card-border-color);
  border-radius: var(--btn-border-radius);
  background-color: var(--main-bg-color);
  padding: 12px 16px;
  width: 100%;
  color: var(--description-text-color);
  font-size: var(--text-general);
  transition: all 250ms;
}
.search-form__btn-clear {
  color: rgb(212, 60, 60);
}
.search-form__btn-clear:hover {
  border: 0.4px solid rgb(212, 60, 60);
}
.search-form__btn-sub {
}
.search-form__btn-sub:hover {
  color: var(--main-text-color);
  border: 0.4px solid var(--main-accent-color);
  background-color: var(--card-bg-color);
}
.news-search__main {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.news-search__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.news-search__item {
  display: flex;
  flex-direction: column;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;

  border: none;
}
.news-search__item:first-child {
  display: flex;
  flex-direction: column;
  /* padding: 15px; */
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}
.news-search__load-more {
  padding: 14px 24px;
  border-radius: var(--btn-border-radius);
  font-size: var(--text-general);
  align-self: flex-end;
  justify-self: end;
  display: flex;
  align-items: center;
  gap: 6px;
  background-color: var(--card-bg-color);
  color: var(--main-text-color);
  transition: all 250ms;
}
.news-search__load-more:hover {
  background-color: var(--bg-hover);
  color: var(--main-accent-color);
}
/* сам скролл (ширина) */
::-webkit-scrollbar {
  width: 6px;
  height: 5px;
}

/* трек (фон, та самая "рельса") */
::-webkit-scrollbar-track {
  background: transparent; /* можно убрать рельсу */
}

/* ползунок */
::-webkit-scrollbar-thumb {
  background-color: var(--main-accent-color);
  border-radius: 10px;
}

/* hover эффект */
::-webkit-scrollbar-thumb:hover {
  background-color: #888;
}
.news__item-title {
  text-transform: initial;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}
.news__item-description {
  text-transform: initial;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}
