.section {
}
.hero {
}
.container {
}
.hero__up {
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.hero__title {
  font-weight: 500;
  font-size: 28px;
  line-height: 130%;
  letter-spacing: -0.03em;
}
.hero__text {
  font-weight: 400;
  font-size: var(--text-small);
  color: var(--description-text-color);
  line-height: 150%;
  letter-spacing: -0.03em;
}
.hero__item-title {
  text-transform: initial;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}
.hero__item-description {
  text-transform: initial;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}
.hero__content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.hero-loader {
}
.hero__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.hero__item {
  display: flex;
  flex-direction: column;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  border-radius: var(--card-border-radius);
  border: 0.2px solid var(--card-border-color);
}
.hero__item:first-child {
  padding: 40px 15px;
  border-top: 1px solid var(--card-border-color);
  border-bottom: 1px solid var(--card-border-color);
  border-left: none;
  border-right: none;
  border-radius: 0px;
}
.hero__load-more {
  padding: 14px 24px;
  border-radius: var(--btn-border-radius);
  font-size: var(--text-general);
  align-self: end;
  display: flex;
  align-items: center;
  gap: 6px;
  background-color: var(--card-bg-color);
  color: var(--main-text-color);
  transition: all 250ms;
}
.hero__load-more:hover {
  background-color: var(--bg-hover);
  color: var(--main-accent-color);
}
.hero-btn-loader {
}
.hero-preload-hidden {
}
