.news-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0 auto;
  height: 100%;

  background: rgba(0, 0, 0, 0.6); /* затемнение */
  padding: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hidden-hero {
  display: none;
}
.news-modal__container {
  position: absolute;
  max-width: 370px;
  max-height: 90vh;

  background: var(--card-bg-color);
  border-radius: var(--card-border-radius);
  overflow-y: hidden;
  overflow-x: hidden;
  padding: 20px;
  padding-top: 45px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  overflow: hidden;
}
.news-modal__close-btn {
  background-color: inherit;
  display: block;
  margin: 0;
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 10px;
}
.news-modal__title {
  font-size: var(--title-h3-text-mob);
  font-weight: 600;
  margin-bottom: 15px;
}
.news-modal__content {
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;

  /* чтобы скролл не ломал отступы */
  padding-right: 8px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  /* align-items: flex-start;
  justify-content: flex-start; */
  gap: 18px;
}
.news-modal__news-img-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.news-modal__news-img-wrapper img {
  border-radius: 10px;
  /* width: 358px; */
  width: 100%;
  height: 185px;
}
.news-modal__news-fallback {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 330px;
  height: 185px;
  background-color: var(--card-bg-color);
  border-radius: 10px;
}
.header__svg {
}
.news-modal__news-img-wrapper__svg-wrapper {
  width: 358px;
  height: 200px;
}

.news-modal__news-img-wrapper__svg {
  width: 60px;
  height: 60px;
}
.news-modal__main-info {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.news-modal__label {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.news-modal__label-content {
  display: flex;
  align-items: center;
  gap: 12px;
}
.news-modal__label-text {
  display: flex;
  align-items: center;
  gap: 8px;
}
.news-modal__label-text span {
  color: var(--description-text-color);
  font-size: var(--text-small);
}
.news-modal__label-text svg {
  stroke: none;
  fill: var(--main-accent-color);
}
.news-modal__label-category {
  display: flex;
  align-items: center;
  gap: 10px;
}
.news-modal__label-category span {
  background-color: var(--main-bg-color);
  color: var(--description-text-color);
  padding: 6px 10px;
  border-radius: var(--description-border-radius);
}
.news-modal__label-lang {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 10px;
  color: var(--description-text-color);
  font-size: var(--text-small);
}
.news-modal__label-lang span {
  font-size: var(--text-general);
  color: var(--main-text-color);
}
.news-modal__description {
  font-size: var(--text-general);
  color: var(--description-text-color);
  padding-bottom: 16px;
  border-bottom: 0.5px solid var(--card-border-color);
}
.news-modal__link {
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: var(--text-general);
  transition: all 250ms;
}
.news-modal__link span {
  font-size: var(--text-small);
  color: var(--description-text-color);
  text-decoration: underline;
  transition: all 250ms;
}
.news-modal__link:hover span {
  color: var(--main-accent-color);
}
