@import url('./reset.css');
@import url('./loader.css');
html,
body {
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px; */
  margin: 0 auto;
  /* margin-top: 30px; */
  padding: 0 15px;
  background-color: #141414;
}

/* .wrapper {
  margin: 0 auto;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 20px;
} */
